.react-datepicker__header {
  background-color: white !important;
  border-bottom: 1px solid #e0e0e0;
  padding: 0;
}
.react-datepicker {
  border: none;
  font-size: 1em;
}
.react-datepicker {
}
.react-datepicker__month {
  margin: 0.4em 1em;
}
.react-datepicker__day-name,
.react-datepicker__day {
  width: 3.5em;
  height: 2.5em;
  line-height: 1.9em;
  /* margin: 0.166em; */
}
.react-datepicker__current-month {
  font-size: 1em;
}
